<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Drive</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/css/home_styles.css' %}">
  </head>
  <body>
    <div id="wrapper">

      <div id="top-bar">
        <div class="top-bar-row" id="top-bar-upper">
          <span id="colored-logo-text" class="top-bar-item">
            <span class="blue-text">D</span><span class="red-text">o</span><span class="yellow-text">o</span><span class="blue-text">d</span><span class="green-text">l</span><span class="red-text">e</span>
          </span>
          <span class="top-bar-item" id="top-bar-drive-link">Drive</span>
          <div class="top-bar-item" id="search-bar-div">

          </div>
          <div class="top-bar-item top-bar-right-links">
            <img id="doodle-apps-icon" class="icon" src="" alt="Doodle apps">
            <img id="notifications-icon" class="icon round" src="" alt="Notfications">
            <img id="account-image-icon" class="icon round" src="" alt="Doodle Account">
          </div>

        </div>
        <div class="top-bar-row" id="top-bar-lower">



          <div class="top-bar-item top-bar-right-links">
            <img id="view-change-icon" class="icon" src="" alt="Grid view">
            <img id="view-details-icon" class="icon round" src="" alt="View details">
            <img id="account-image-icon" class="icon round" src="" alt="Doodle Account">
          </div>
        </div>
      </div>







    </div>
  </body>
</html>
