<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Drive</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/css/home_styles.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/home_page.js' %}"></script>
  </head>
  <body>
    <div id="wrapper">

      <div id="top-bar">
        <div class="top-bar-row" id="top-bar-upper">
          <div class="top-bar-item" id="logo-chunk">
            <span id="colored-logo-text" class="top-bar-item">
              <span class="blue-text">D</span><span class="red-text">o</span><span class="yellow-text">o</span><span class="blue-text">d</span><span class="green-text">l</span><span class="red-text">e</span>
            </span>
            <span class="top-bar-item" id="top-bar-drive-link">Drive</span>
          </div>
          <div class="top-bar-item" id="search-bar-div">
            <img id="search-bar-icon" class="icon" src="" alt="Search Icon">
            <form class="search" action="#" method="post">
              <input type="text" name="search-field" value="" placeholder="Search Drive">
            </form>
          </div>
          <div class="top-bar-item top-bar-right-links">
            <img id="doodle-apps-icon" class="icon" src="" alt="Doodle apps">
            <img id="notifications-icon" class="icon round" src="" alt="Notfications">
            <img id="account-image-icon" class="icon round" src="" alt="Doodle Account">
          </div>

        </div>
        <div class="top-bar-row" id="top-bar-lower">

          <div class="top-bar-item" id="new-button-div">
            <form action="#" method="post">
              {% csrf_token %}
              <input class="button" id="new-button" type="submit" name="" value="NEW">
            </form>
          </div>
          <div class="top-bar-item" id="path-menu-div">
            <select class="path-menu" name="">
              <option value="">My Drive</option>
              <option value="">New Folder</option>
              <option value="">Upload files...</option>
              <option value="">Upload folder...</option>
              <option value="">Doodle Docs</option>
              <option value="">Doodle Sheets</option>
              <option value="">Doodle Slides</option>
              <option value="">More...</option>
            </select>
            {% block content %}
            <form id="file-upload-form" action="{% url 'file_upload'%}" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
                {{file_form.as_p}}
              <input id="file-upload-button"type="submit" value ="submit">
            </form>
            <form action="{% url 'folder_creation'%}" method="POST">
              {%csrf_token%}
                {{folder_form.as_p}}
              <input type="submit" value ="submit">
            </form>
            {% endblock %}
          </div>
          <div class="top-bar-item top-bar-right-links">
            <img id="view-change-icon" class="icon hover-circle" src="" alt="Grid view">
            <img id="view-details-icon" class="icon round hover-circle" src="" alt="View details">
            <img id="account-image-icon" class="icon round hover-circle" src="" alt="Settings">
          </div>
        </div>
      </div>

      <div id="main">
        <div class="main-content" id="left-bar">
          <div class="left-bar-section" id="left-bar-top">
            <div class="left-bar-tab dropdown-menu" id="drive-heirarchy-div">
              <img class="icon" src="" alt="My Drive icon">
              <label class="tab-label">My Drive</label>
            </div>
            <div class="left-bar-tab">
              <img class="icon" src="" alt="Shared with me icon">
              <label class="tab-label">Shared with me</label>
            </div>
            <div class="left-bar-tab">
              <img class="icon" src="" alt="Recent icon">
              <label class="tab-label">Recent</label>
            </div>
            <div class="left-bar-tab">
              <img class="icon" src="" alt="Doogle Photos icon">
              <label class="tab-label">Doodle Photos</label>
            </div>
            <div class="left-bar-tab">
              <img class="icon" src="" alt="Starred icon">
              <label class="tab-label">Starred</label>
            </div>
            <div class="left-bar-tab">
              <img class="icon" src="" alt="Trash icon">
              <label class="tab-label">Trash</label>
            </div>
          </div>
 <!--{% for media in media_files%}
    <img src ="{{media.file_data.url}}" width="200">
    {% endfor %}-->
        </div>
        <div class="main-content" id="dynamic-home-content">
          <div class="main-content" id="main-table-wrapper">
            <table cellspacing=0>
              <thead>
                <tr>
                  <th><label class="table-header-label">Name</label></th>
                  <th><label class="table-header-label">Owner</label></th>
                  <th><label class="table-header-label">Last modified</label></th>
                  <th><label class="table-header-label">File size</label></th>
                </tr>
              </thead>
              <tbody id="table-body">
                {% for folder in folders %}
                {% if folder.is_master_folder == 0 %}
                <tr class="file-flash" folder-id='{{folder.id}}'>
                  <td>{{folder.name}}</td>
                  <td>{{folder.owner.first_name}}</td>
                  <td>{{folder.updated_at}}</td>
                  <td>-</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for file in media_files %}
                {% if user.id == file.owner_id %}
                  <tr class="file-flash" item-id='{{file.id}}'item-type="file">
                    <td><a href="{{ file.file_data.url }}">{{file.file_data}}</a></td>
                    <td>{{file.owner.first_name}}</td>
                    <td>{{file.updated_at}}</td>
                    <td>{{file.file_data.size|filesizeformat}}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>





  </body>
</html>
