<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My Drive</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500" rel="stylesheet">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'main/css/home_styles.css' %}">
  <script type="text/javascript" src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/jquery-ui.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{% static 'main/css/materialize.min.css' %}">
  <script type="text/javascript" src="{% static 'main/js/home_page.js' %}"></script>
</head>

<body>
  <div id="wrapper">

    <div id="top-bar">
      <div class="top-bar-row" id="top-bar-upper">
        <div class="top-bar-item" id="logo-chunk">
          <span id="colored-logo-text" class="top-bar-item">
            <span class="blue-logo-text">D</span><span class="red-logo-text">o</span><span class="yellow-logo-text">o</span><span class="blue-logo-text">d</span><span class="green-logo-text">l</span><span class="red-logo-text">e</span>
          </span>
          <span class="top-bar-item" id="top-bar-drive-link">Drive</span>
        </div>
        <div class="top-bar-item" id="search-bar-div">
          <img id="search-bar-icon" class="icon" src="{% static 'main/img/icons/grey/search.png' %}" alt="Search Icon">
          <form class="search" action="#" method="post">
            <input id="search-field" type="text" name="search-field" value="" placeholder="Search Drive">
          </form>
        </div>
        <div class="top-bar-item top-bar-right-links">
          <div id="apps-and-notifications-wrapper">
            <img id="doodle-apps-icon" class="icon" src="{% static 'main/img/icons/grey/apps.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/apps.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/apps.png' %}'"alt="Doodle apps">
            <div id="notification-icon-sizer">
              <img id="notifications-icon" class="icon round" src="{% static 'main/img/icons/notifications.png' %}" alt="Notfications">
            </div>
          </div>
          <a id="account-dropdown-button" class="dropdown-button" href="#" data-activates="account-dropdown" belowOrigin="True">
            <img id="account-image-icon" class="icon round" src="{% static 'main/img/empty-profile.png' %}" alt="Doodle Account">
          </a>
          <ul id='account-dropdown' class='dropdown-content' style="top:57px;">
            <li class="white-background">
              <div id="account-dropdown-top" class="dropdown-menu-section">
                <div id="change-profile-photo-div">
                  <img id="account-dropdown-profile-pic" src="{% static 'main/img/empty-profile.png' %}" alt="Change profile picture">
                </div>
                <div id="account-info-div">
                  <span id="account-name">{{user.first_name}} {{user.last_name}}</span>
                  <span id="account-email" class="email-text">{{user.email}}</span>
                  <a href="#">Doodle+ Profile</a> - <a href="#">Privacy</a>
                  <br>
                  <a id="my-account-button" class="button" href="#">My Account</a>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li id="other-account-list" class="grey-background">

            </li>
            <li class="divider"></li>
            <li class="grey-background">
              <div class="account-info-button button" href="#">Add Account</div>
              <div id="sign-out-button" class="account-info-button button" href="{% url 'logout' %}">Sign out</div>
            </li>
          </ul>
        </div>
      </div>



      <div class="top-bar-row" id="top-bar-lower">

        <div class="top-bar-item" id="new-button-div">
          <form action="#" method="post">
            {% csrf_token %}
            <a class="button dropdown-button" id="new-button" data-activates="new-button-dropdown">NEW</a>
          </form>
          <ul id="new-button-dropdown" class="dropdown-content">
            <div class="top-bottom-spacer"></div>
            <li id="new-folder-button" class="dropdown-item">
              <a id="folder-create-overide" href="#modal1">
                <img id="new-folder-icon" class="icon" src="{% static 'main/img/icons/grey/new_folder.png' %}" alt="New folder">
                <drop-label>New folder...</drop-label>
              </a>

            </li>
            <li class="divider spacer-divider"></li>
            <li id="file-upload-button" class="dropdown-item">
              <img class="icon" src="{% static 'main/img/icons/grey/file_upload.png' %}" alt="File upload">
              <drop-label>File upload</drop-label>
            </li>
            <li class="dropdown-item">
              <img class="icon" src="{% static 'main/img/icons/grey/folder_upload.png' %}" alt="Folder upload">
              <drop-label>Folder upload</drop-label>
            </li>
            <li class="divider spacer-divider"></li>
            <li class="dropdown-item">
              <drop-label>Doodle Docs</drop-label>
            </li>
            <li class="dropdown-item">
              <drop-label>Doodle Sheets</drop-label>
            </li>
            <li class="dropdown-item">
              <drop-label>Doodle Slides</drop-label>
            </li>
            <li class="dropdown-item">
              <drop-label>more</drop-label>
            </li>
            <div class="top-bottom-spacer"></div>
          </ul>
        </div>
        <!-- <div class="top-bar-item" id="path-menu-div">

        </div> -->
        <div id="tool-bar-controls" static-url="{% static 'main/img/icons' %}" class="top-bar-item">
          <div id="selection-tools">
            <img id="link-icon" class="icon hover-circle" src="{% static 'main/img/icons/grey/insert_link.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/insert_link.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/insert_link.png' %}'" file-name="insert_link.png" alt="Get shareable link">
            <img id="share-icon" class="icon hover-circle" src="{% static 'main/img/icons/grey/person_add.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/person_add.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/person_add.png' %}'" alt="Share {selected}">
            <a id="preview-button" href="#">
              <img id="preview-icon" class="icon hover-circle" src="{% static 'main/img/icons/grey/visibility.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/visibility.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/visibility.png' %}'" alt="Preview">
            </a>
            <a id="move_to_trash" class="tool-bar-link" href="{% url 'move_to_trash' %}">
              <img id="delete-icon" class="icon hover-circle" src="{% static 'main/img/icons/grey/delete.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/delete.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/delete.png' %}'" alt="Remove">
            </a>
            <img id="more-icon" class="icon hover-circle" src="{% static 'main/img/icons/grey/more_vert.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/more_vert.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/more_vert.png' %}'"alt="More actions">
          </div>
          <div class="top-bar-item top-bar-right-links">
            <img id="view-change-icon" class="icon hover-circle" src="{% static 'main/img/icons/grey/view_module.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/view_module.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/view_module.png' %}'"alt="Grid view">
            <img id="view-details-icon" class="icon round hover-circle" src="{% static 'main/img/icons/grey/info.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/info.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/info.png' %}'"alt="View details">
            <img id="settings-icon" class="icon round hover-circle" src="{% static 'main/img/icons/grey/settings.png' %}" onmouseover="this.src='{% static 'main/img/icons/black/settings.png' %}'" onmouseout="this.src='{% static 'main/img/icons/grey/settings.png' %}'"alt="Settings">
          </div>
        </div>

      </div>
    </div>

    <div id="main">
      <div class="main-content" id="left-bar">
        <div id="left-bar-top" class="left-bar-section">
          <ul id="left-bar-tab-menu">
            <div class="top-bottom-spacer"></div>
            <li class="left-bar-tab dropdown-menu" id="my-drive-tab" href="{% url 'get_home_contents' %}">
              <img class="icon" src="{% static 'main/img/icons/grey/storage.png' %}" alt="My Drive icon">
              <label class="tab-label">My Drive</label>
            </li>
            <li class="left-bar-tab">
              <img class="icon" src="{% static 'main/img/icons/grey/group.png' %}" alt="Shared with me icon">
              <label class="tab-label">Shared with me</label>
            </li>
            <li class="left-bar-tab">
              <img class="icon" src="{% static 'main/img/icons/grey/recent.png' %}" alt="Recent icon">
              <label class="tab-label">Recent</label>
            </li>
            <li class="left-bar-tab">
              <img class="icon" src="{% static 'main/img/icons/grey/photos.png' %}" alt="Doogle Photos icon">
              <label class="tab-label">Doodle Photos</label>
            </li>
            <li class="left-bar-tab">
              <img class="icon" src="{% static 'main/img/icons/grey/star.png' %}" alt="Starred icon">
              <label class="tab-label">Starred</label>
            </li>
            <li class="left-bar-tab" id="trash-tab" href= '{% url "get_trash_contents" %}' >
              <img class="icon" src="{% static 'main/img/icons/grey/delete.png' %}" alt="Trash icon">
              <label class="tab-label">Trash</label>
            </li>
            <div class="top-bottom-spacer"></div>
          </ul>
        </div>
      </div>
      <div class="main-content" id="dynamic-home-content">
        <div class="main-content" id="main-table-wrapper">
          <table cellspacing=0 id="main-table">
            <thead>
              <tr class="header-row">
                <th class="name-cell"><label class="table-header-label">Name</label></th>
                <th class="owner-cell header-adjust"><label class="table-header-label">Owner</label></th>
                <th class="updated-at-cell header-adjust"><label class="table-header-label">Last modified</label></th>
                <th class="size-cell header-adjust"><label class="table-header-label">File size</label></th>
              </tr>
            </thead>

            <tbody id="table-body">

            </tbody>

          </table>
          

        </div>
      </div>
    </div>
  </div>







</body>

</html>
