*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;

}
html, body, #wrapper{
  height: 100%;
  color: #404040;
}

form{
  display: inline-block;
}
ul{
  /*float: right;*/
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#selection-tools a:hover{
  text-decoration: none;
}
a.dropdown-button:hover{
  text-decoration: none;
}
#logo-chunk{
  padding:0px 29px 0px 16px;
}
#colored-logo-text{
  font-size: 1.7em;
  padding-top: 7px;
}
.blue-logo-text{
  color:#5764f7 !important;
}
.red-logo-text{
  color:#ea35ac !important;
}
.yellow-logo-text{
  color:#ff752c !important;
}
.green-logo-text{
  color:#13c79e !important;
}
#top-bar-drive-link{
  font-size: 1.6em;
  font-weight: 300;
  color:#777;
  padding-top: 9px;
}

#top-bar{
  /*z-index: 5;*/
  background-color: white;
  position: absolute;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  min-width: 1105px;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
.top-bar-row{
  padding:8px;
  white-space: nowrap;
}
#top-bar-lower{
  padding-top: 4px;
}
.top-bar-item{
  display: inline-block;
  vertical-align: top;
  height: 48px;
}
#new-button-div{
  padding-left: 18px;
  padding-top: 17px;
}
#new-button{
  padding: 7px 30px;
  font-weight: 300;
  color: white !important;
}
li.spacer-divider{
  margin:7px 0px
}
li.dropdown-item{
  min-height: 32px !important;
  height: 32px;
  width: 321px !important;
  padding-left: 10px;
}
li img.icon{
  padding-top: 4px;
}
drop-label{
  display: inline-block;
  padding-top: 6px;
  font-size: .9em;
}
div.top-bottom-spacer{
  height: 16px;
}
#file-upload-form{
  position: absolute;
  top:-200px;
}
.button{
  /*width: 278px;*/
  background-color: #5764f7;
  border: 1px solid #1451b3;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  color:white;
  font-size: 13px;
  /*border: none;*/
  border-radius: 2px;
  margin:7px 0px;
}
.account-info-button{
  background: none;
  padding: 2px 10px 4px;
  color: #696969;
  font-weight: 200;
  border: 1px solid #c4c4c4;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

#sign-out-button{
  float: right;
  margin-right: 20px;
}
.top-bar-right-links{
  float: right;
}
#notifications-icon{
  padding:2px;
  width: 18px;
  height: 18px;
  background-color: #767676;
  border-radius: 50%;
  margin: 4px 6px;
}
#notifications-icon:hover{
  background-color: black;
}
#notification-icon-sizer{
  display: inline-block;
  padding: 6px;
}
#apps-and-notifications-wrapper{
  display: inline-block;
  padding-top: 4px;
}
#account-image-icon{
  width: 30px;
  height: 30px;
  padding: 1px;
  margin: 9px;
  border-radius: 50%;
}
#account-image-icon:hover{
  background-color: black;
}
#account-dropdown{
  font-size: .9em;
}
#account-dropdown-top{
  padding:20px;
  width: 329px;
  box-sizing: border-box;
  /*vertical-align: top;*/
}
#change-profile-photo-div{
  display: inline-block;
}
#account-dropdown-profile-pic{
  width: 96px;
}
#account-info-div{
  display: inline-block;
  vertical-align: top;
  margin-left: 17px;

}
#account-name, .email-text{
  display: block;
}
#account-name{
  font-weight: 500;
  margin-bottom: -4px;
}
.email-text{
  font-size: .9em;
}
#my-account-button{
  margin-top: 14px;
  padding: 2px 10px 4px;
  color: white !important;
  display: inline-block;
}
#my-account-button:hover{
  text-decoration: none;
}

.dropdown-content li:hover{
  cursor: default;
}

.dropdown-content li.white-background:hover{
  background-color: white !important;

}
.dropdown-content li.grey-background{
  background-color: #f5f5f5
}
.dropdown-content li.grey-background:hover{
  background-color: #f5f5f5 !important;
}
#other-account-list{
  max-height: 231px;
  overflow-y: scroll;
}

#tool-bar-controls{
  float: right;
}
#selection-tools{
  display: none;
  /*display: inline-block;*/
  border-right: 1px solid #e5e5e5;
}
#search-bar-div{
  width: 722px;
  height: 48px;
  background-color: #f5f5f5;
  border-radius: 2px;
}
#search-field{
  border:none !important;
}
#search-field:selected{
  border: none !important;
}
.icon{
  vertical-align: top;
  width: 24px;
  height: 24px;
  padding:8px;
  box-sizing: content-box;
  margin: 0px 4px;
}
#tool-bar-controls .icon:hover{
  background-color: #e4e4e4;
  border-radius: 50%;
}

#path-menu-div{
  max-width: 556px;
  max-width: 309px;
  border: 1px dotted black;
  /*float: right;*/
  margin-left: 180px;
}

#main{
  box-sizing: border-box;
  padding-top: 130px;
  background-color: #f5f5f5;
  min-width: 1105px;
  width: 100%;
  height: 100%;
}

.main-content{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  height:100%
}
#left-bar{
  float:left;
  width: 256px;
}
#left-bar-tab-menu{
  padding-right: 40px;
}
#left-bar-tab-menu li{
  padding: 4px 0px 1px 12px;
}
.tab-label{
  font-size: .85rem;
  font-weight: bold;
  color: #3f3f3f;
  padding-top: 8px;
  display: inline-block;
}
#left-bar-tab-menu li:hover{
  cursor: pointer;
  background-color: rgba(228,228,228,0.65);
}
#left-bar-tab-menu li.selected{
  background-color: #e4e4e4;
}
#dynamic-home-content{
  display: block;
  margin-left: 256px;
  padding-right: 40px;
  box-sizing: border-box;
  height: 100%;
}
#main-table-wrapper{
  width: 100%;
  height: 100%;
  background-color: white;
  /*overflow-y: scroll;*/
}
#main-table{
  table-layout: fixed;
  height: 100%;
}
.name-cell{
  width: 50%
}
.owner-cell{
  width: 10%;
}
.updated-at-cell{
  width: 20%;
}
.size-cell{
  width: 10%
}
th.header-adjust label{
  position: relative;
  left: -13px;
}
th.updated-at-cell label{
  left: -17px;
}
th.size-cell label{
  left: -22px;
}
#container-cell{
  padding:0px;
  vertical-align: top;
}
table{
  border: 0;
  width: 100%;

  box-sizing: content-box;
  background: white;
  /*height: 100%;*/
}
thead{
  text-align: left;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ebebeb !important;
}
thead tr th label{
  font-weight: 400;
  color: rgba(63,63,63,0.9);
  font-size: .9rem;
}
tr{
  height: 48px;
  padding:20px 20px;

}
#tbody-content-wrapper{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  background-color: white;
  border-radius: 2px;
  overflow-y: scroll;
}
#tbody-content-table td{
  padding: 6px 0px 0px 5px !important;

}

#table-body tr.selected {
  background-color: #5764f7;
  color: white;
}

.selected{
  background-color: #4285f4 !important;
  color: white;
}
.selected a{
  color: white !important;
}
.thumbnail{
  width: 24px;
  display: inline-block;

}
.material-placeholder{
  display: inline-block;
  padding-top: 5px;
}


.round-image-border{
  background-color: white;
  display: inline-block;
  padding: 4px 4px 0px 2px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  overflow: hidden;

}
.table-image{
  padding: 2px 0px 0px 5px;
}
.folder-text{
  vertical-align: top;
  display: inline-block;
  padding-top: 8px;
  padding-left: 8px;
}
.text-color{
  color: #404040 !important;
}  

tr a{
  color: #404040 !important;
}

.radius{
  border-radius: 0%;
}

#folder-create-overide{
  color: rgba(0,0,0,0.87) !important;
  font-size: 1.0em !important;
  display: inline-block !important;
  line-height: 0 !important;
  padding: 0px 0px 0px 0px !important;
  position: relative;
  top: 5px;
}
#folder-create-overide:hover{
  text-decoration: none;
}
#folder-create-overide drop-label{
  padding-top: 10px;
}

#new-folder-icon{
  padding-top: 0px;
}
td, th{
  border-radius: 0px !important;
}

}
td.owner-cell{
  width: 100px;
}
td{
  font-size: .85em;
}
#tbody-content-table tr{
  border-bottom: 1px solid #ebebeb;
}
#tbody-content-table tr.selected{
  border-bottom: 1px solid #5764f7;
}
tr.header-row :first-child label{
  padding-left: 9px;
  font-weight: bold;
}
.tile-div{
  background-color: #f5f5f5;
  height: 600px;
}
.folder-container{
  box-shadow:  0px 1px 5px #888888 !important;
  display: inline-block;
  padding-top: 8px;
  background-color:white;
  padding-left: 5px;
  height: 48px;
  width: 185px;
  border-radius: 3%;
  margin-left: 10px;
  

}
.image-padding{
  padding-left: 3px;
  display:inline-block;
}
.file-container{
 background-color: white;
 display:inline-block;
 overflow:hidden;
 width: 190px;
 height:194px;
 margin-left: 10px;
 box-shadow:  0px 1px 5px #888888 !important;


}
.tile-file{
  height:150px;
  overflow:hidden;
}

.material-placeholder{
  padding-top: 0px !important;
}
.title-div{
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-top: 4px; 
}
.title-div p{
  display: inline-block;
  glyph-orientation-vertical: top;
  white-space: nowrap;
  width: 130px;
  padding-top: 7px;
  padding-left: 5px;
}
.round-image-border{
  vertical-align: top;
}
.picture-div{
  width:auto;
  background-color: white;
}

.headers{
  margin-top: 10px;
  margin-bottom: 10px;
}