*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;

}
html, body, #wrapper{
  height: 100%;
  color: #404040;
}

form{
  display: inline-block;
}
ul{
  /*float: right;*/
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#logo-chunk{
  padding:0px 29px 0px 16px;
}
#colored-logo-text{
  font-size: 1.7em;
  padding-top: 7px;
}
.blue-text{
  color:#5764f7;
}
.red-text{
  color:#ea35ac;
}
.yellow-text{
  color:#ff752c;
}
.green-text{
  color:#13c79e;
}
#top-bar-drive-link{
  font-size: 1.6em;
  font-weight: 300;
  color:#777;
  padding-top: 9px;
}

#top-bar{
  /*z-index: 5;*/
  background-color: white;
  position: absolute;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  min-width: 1105px;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
.top-bar-row{
  padding:8px;
  white-space: nowrap;

}
.top-bar-item{
  display: inline-block;
  vertical-align: top;
  height: 48px;
}
.button{
  /*width: 278px;*/
  background-color: #5764f7;
  border: 1px solid #1451b3;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  color:white;
  font-size: 13px;
  font-weight: 300;
  padding: 7px 30px;
  /*border: none;*/
  border-radius: 2px;
  margin:7px 0px;
}
.top-bar-right-links{
  float: right;
}
#tool-bar-controls{
  float: right;
}
#selection-tools{
  /*display: none;*/
}
#search-bar-div{
  width: 722px;
  height: 48px;
  background-color: #f5f5f5;
  border-radius: 2px;
}
.icon{
  width: 24px;
  height: 24px;
  padding:8px;
  box-sizing: content-box;
  margin: 0px 4px;
}
#path-menu-div{
  max-width: 556px;
  max-width: 309px;
  border: 1px dotted black;
  /*float: right;*/
  margin-left: 180px;
}

#main{
  box-sizing: border-box;
  padding-top: 130px;
  background-color: #f5f5f5;
  min-width: 1105px;
  width: 100%;
  height: 100%;
}

.main-content{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  height:100%
}
#left-bar{
  float:left;
  width: 256px;
}
#dynamic-home-content{
  display: block;
  margin-left: 256px;
  padding-right: 40px;
  box-sizing: border-box;
  height: 100%;
}
#main-table-wrapper{
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}
table{
  border: 0;
  width: 100%;

  box-sizing: content-box;
  background: white;
  /*height: 100%;*/
}
thead{
  text-align: left;
  background-color: #f5f5f5;
}
tbody{
  background-color: white;
  overflow-y: scroll;
}
tr{
  height: 48px;
  padding:20px 20px;
}
td{
  vertical-align: middle;
}
tr.highlight td{
border-color:#4285f4

}
#table-body tr.highlight {
  background-color: #4285f4;

  color: white;
  }
