*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  /*color:white;*/
  /*text-shadow: 1px 1px 10px rgba(0,0,0,0.4);*/
}
#wrapper{
  min-height: 890px;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

ul{
  /*float: right;*/
  list-style: none;
}
li{
  display: inline-block;
  /*margin: 0px 9px;*/
}

h1{
  font-weight: 200;
  font-size: 2.2em;
}

#main-content{
  text-align: center;
}
#colored-logo-text{
  font-size: 2em;
}
.blue-text{
  color:#5764f7;
}
.red-text{
  color:#ea35ac;
}
.yellow-text{
  color:#ff752c;
}
.green-text{
  color:#13c79e;
}

.chunk{
  padding: 10px 0px 20px;
}
.banner-chunk{
  color: #555;
}
#logo-chunk{
  padding-top: 32px;
  padding-bottom: 26px;
}



#main-box{
  border-radius: 2px;
  background-color: #f7f7f7;
  display: inline-block;
  text-align: center;
  width: 354px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.inner-box{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
#profile-pic{
  /*padding-top:40px;*/
  padding-bottom: 4px;
}
#profile-pic img{
  width: 94px;
}
#identifier-display{
  font-size: .85em;
  color:#404040;
  padding-bottom: 14px;
}
#messages-area{
  text-align: left;
  color: red;
  font-size: .7em;
}
#back-button-div{
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding:8px;
  position: relative;
  top: 30px;
  right: 10px;
}
.icon{
  width: 24px;
  height: 24px;
}
/*.icon-background{
  border-radius: 50%;
  background-color:
}*/
.transparent{
  visibility: hidden;
}
.slide-in{
  display: none;
}
input{
  width: 258px;
  font-size: 16px;
  /*padding: 0px 8px;*/
  padding: 10px 8px 9px;
}
.button{
  width: 278px;
  background-color: #5764f7;
  color:white;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0px 9px;
  border: none;
  border-radius: 3px;
  margin:7px 0px;
}
#sign-in-button{
  margin-top: 9px;
}
a.slide-in, a.slide-out{
  font-size: .8em;

}
form{
  text-align: right;
}
input::placeholder{
  color: #999999;
  font-weight: 300;
}
input[type="text"]{
  color: #404040;
}
#upper-box-section{
  padding-bottom: 44px;
  height: 328px;
  box-sizing: border-box;
}
#lower-box-section{
  background-color: white;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 34px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#lower-box-section img{
  width: 32px;
  vertical-align: top;
  margin-top: 4px;
}
#lower-box-content{
  width: 225px;
  text-align: left;
  font-size: .9em;
  margin-left: 11px;
  padding-bottom: 20px;
}
#lower-box-content p, #lower-box-content a{
  font-size: .85em;
  margin:3px 0px;
}

#lower-box-content{
  display: inline-block;
}

#create-account-chunk{
  padding-top: 44px;
  font-size: .9em;
}

#bottom-links-chunk{
  font-size: .9em;
  color: #404040;
  padding-top: 40px;
}

#footer{
  position: fixed;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  bottom: 0px;
  border-top: 1px solid #e7e7e7;
  padding: 6px 40px 4px;
}
.footer-item{
  color: #404040;
  font-size: .7em;
  display: inline-block;
}
.footer-item li{
  margin-right: 15px;
}
#language-picker{
  float: right;
}
#language-select{
  vertical-align: top;
}
footer-item li{

}
